.abt-container {
    /* display: flex; */
    height: 100vh; /* Full height of the viewport */
}




.second{
    /* flex: 3; */
    font-size: 1vw;
}

.topic{
    margin-left: 3em;
    font-size: 2.4em;
    color: white;
    display: flex;
    justify-content: center;
}

.pp2{
    margin-top: 1.5em;
    height: 30em;
    width: 25em;
    object-fit: cover;
    object-position: 0 -25px;
    margin-left: 3em;
    border: 1px solid black;
    max-width: 100%;
    border-radius: 5rem;
}

.abt-text2{
    display: flex;
}
.pp2{flex: 1;}
.desc{
    flex: 2;
    margin-left: 4em;
    margin-top: 2em;

}

.desc2{
    margin-top: 2em;
    margin-right: 1.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-align: justify;
    font-size: 1.4em;
}
@media screen and(max-width:480px) {
    .bg{
        right: -20vw;
    }
}